:root {
  /* Palette  https://www.happyhues.co/palettes/4 */

  /* Size */
  --small: 8px;
  --medium: 16px;
  --large: 32px;
  --x-large: 48px;

  /* Elements */
  --background: #16161a;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --button: #7f5af0;
  --button-text: #fffffe;
  --link: #7f5af0;

  /* Cards */
  --card-background: #242629;
  --card-headline: #fffffe;
  --card-paragraph: #94a1b2;
  --card-tag-background: #7f5af0;
  --card-tag-text: #fffffe;

  /* Illustration */
  --stroke: #010101;
  --main: ##fffffe;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

body {
  background-color: var(--background);
}

h1,
h2,
h3,
a,
span {
  margin: 0;
  padding: 0;
  color: var(--headline);
  font-family: 'Poppins', sans-serif;
}

p {
  color: var(--paragraph);
}

button {
  background-color: var(--button);
  color: var(--button-text);
}

.search-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--large);
}

.search-results__card {
  overflow: hidden;
  border: 3px solid var(--stroke);
  border-radius: 3px;
  background-color: var(--card-background);
}

.search-results__images {
  position: relative;
  margin: 0;
  padding-top: 100%;
}

.search-results__imagen {
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-results__content {
  padding: var(--medium) var(--small);
}

.search-item {
  text-align: center;
}

.search-item--title {
  margin-bottom: var(--large);
}

.search-item--price {
  margin-bottom: var(--small);
}

.search-results__title {
  font-weight: 600;
  font-size: var(--medium);
  letter-spacing: 1px;
}

.search-results__price {
  color: var(--card-tag-background);
  font-weight: 600;
  font-size: var(--medium);
}
